@charset "UTF-8";
.menu-lang a {
  position: relative;
}

.menu-lang a:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  border-bottom: 1px solid #ccc;
}

.menu-lang a:hover:before {
  width: 100%;
}

.p0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p0 p {
  margin-top: 0;
  margin-bottom: 0;
}

.w-100 {
  width: 100%;
}

.link-more-white, .link-more-black, .link-more-primary {
  font-size: 18px;
  font-weight: 500;
}

.link-more-white {
  color: #fff;
}

.link-more-white:hover {
  color: #f89b79;
}

.link-more-black {
  color: #000;
}

.link-more-black:hover {
  color: #f89b79;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list > li {
  position: relative;
  display: block;
  margin: 15px 0;
  padding-left: 25px;
}

.list-unstyled {
  margin: 0;
  padding: 0;
}

.list-unstyled > li {
  padding: 0 0 10px;
}

.fa-ul li {
  margin: 7px 0;
}

.color-white, .section-page-text .content-text {
  color: #fff;
}

.color-white .title, .section-page-text .content-text .title,
.color-white a,
.section-page-text .content-text a,
.color-white a:hover,
.section-page-text .content-text a:hover,
.color-white strong,
.section-page-text .content-text strong {
  color: #fff;
}

.background-primary {
  background-color: #f89b79;
}

.background-gray-darker {
  background-color: #222;
}

.background-gray-dark {
  background-color: #555;
}

.background-gray {
  background-color: #83868c;
}

.background-gray-light {
  background-color: #d7d7d7;
}

.background-gray-lighter {
  background-color: #eeeeef;
}

.background-white {
  background-color: #fff;
}

.btn {
  display: inline-block;
  padding: 9px 15px 8px;
  white-space: normal;
  text-decoration: none !important;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: 18px;
  font-weight: 700;
}

.btn:active, .btn:focus:active {
  transition: all 0s !important;
}

.btn.active, .btn.active:focus, .btn.active:focus, .btn:active:focus, .btn:active:focus, .btn:focus, .btn:hover {
  text-decoration: none !important;
  outline: 0;
}

.btn-lg {
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-primary,
a.btn-primary {
  color: #000;
  background-color: #f89b79;
}

.btn-primary:focus, .btn-primary:hover,
a.btn-primary:focus,
a.btn-primary:hover {
  color: #000;
  background-color: #fff;
}

.btn-primary:active, .btn-primary:focus:active,
a.btn-primary:active,
a.btn-primary:focus:active {
  color: #000;
  background-color: #fff;
}

.background-cover, .image-fullsize, .section-slider .slider-bg, .single-featured-image, .background-contain, .background-fixed {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.background-contain {
  background-size: contain;
}

.background-fixed {
  background-attachment: fixed;
}

@media (max-width: 1319px) {
  .background-fixed {
    background-attachment: scroll;
  }
}

.d-flex, .flex-center, .justify-content-center, .justify-content-start, .justify-content-end, .justify-content-between, .justify-content-around, .align-items-center, .align-items-start, .align-items-end {
  display: flex;
}

.d-block {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.direction-column {
  flex-direction: column;
}

.direction-column-reverse {
  flex-direction: column-reverse;
}

.direction-row {
  flex-direction: row;
}

.direction-row-reverse {
  flex-direction: row-reverse;
}

.my-xxs {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-xs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-sm {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-md {
  margin-top: 90px;
  margin-bottom: 90px;
}

.my-lg {
  margin-top: 110px;
  margin-bottom: 110px;
}

.my-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-none {
  margin-top: 0 !important;
}

.mb-none {
  margin-bottom: 0 !important;
}

.py-xxs {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-xs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-sm {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-md {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (max-width: 767px) {
  .py-md {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.py-lg {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 767px) {
  .py-lg {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.py-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pt-none {
  padding-top: 0 !important;
}

.pb-none {
  padding-bottom: 0 !important;
}

.link-fullsize, .image-fullsize, .section-slider .slider-bg:after, .people-item .people-thumb .blend-mode {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.link-fullsize {
  z-index: 100;
  text-decoration: none;
}

.image-fullsize {
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.width-100 {
  display: block;
  width: 100%;
}

@font-face {
  font-family: 'NHaasGroteskDSPro';
  src: url("../fonts/3642CE_0_0.eot");
  src: url("../fonts/3642CE_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/3642CE_0_0.woff2") format("woff2"), url("../fonts/3642CE_0_0.woff") format("woff"), url("../fonts/3642CE_0_0.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'NHaasGroteskDSPro';
  src: url("webfonts/3642CE_1_0.eot");
  src: url("webfonts/3642CE_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/3642CE_1_0.woff2") format("woff2"), url("webfonts/3642CE_1_0.woff") format("woff"), url("../fonts/3642CE_1_0.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'NHaasGroteskDSPro';
  src: url("../fonts/3642CE_2_0.eot");
  src: url("../fonts/3642CE_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/3642CE_2_0.woff2") format("woff2"), url("../fonts/3642CE_2_0.woff") format("woff"), url("../fonts/3642CE_2_0.ttf") format("truetype");
  font-weight: 700;
}

.title {
  color: #000;
  font-family: "NHaasGroteskDSPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 767px) {
  .title {
    word-break: break-word;
  }
}

.title.title-my {
  margin-top: 60px;
  margin-bottom: 60px;
}

.content-text {
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 1319px) {
  .content-text {
    font-size: 18px;
  }
}

.content-text .h1,
.content-text h1 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #222;
}

.content-text .h1:first-child,
.content-text h1:first-child {
  margin-top: 0;
}

.content-text .h2,
.content-text h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #222;
}

.content-text .h2:first-child,
.content-text h2:first-child {
  margin-top: 0;
}

.content-text .h3,
.content-text h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #222;
}

.content-text .h3:first-child,
.content-text h3:first-child {
  margin-top: 0;
}

.content-text .h4,
.content-text h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #222;
}

.content-text .h4:first-child,
.content-text h4:first-child {
  margin-top: 0;
}

.content-text .h5,
.content-text h5 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #222;
}

.content-text .h5:first-child,
.content-text h5:first-child {
  margin-top: 0;
}

.content-text .h6,
.content-text h6 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #222;
}

.content-text .h6:first-child,
.content-text h6:first-child {
  margin-top: 0;
}

.content-text p {
  margin-bottom: 30px;
}

.content-text a {
  text-decoration: underline;
}

.content-text a:hover {
  text-decoration: none;
}

.content-text img {
  max-width: 100%;
  height: auto;
}

.content-text .lead {
  font-weight: 500;
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .content-text .lead {
    font-size: 18px;
  }
}

@media (min-width: 1320px) {
  .content-text .lead {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.content-text blockquote {
  font-size: 24px;
  border: 0;
  padding-left: 50px;
  position: relative;
}

.content-text blockquote:before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 22px;
  width: 20px;
  height: 18px;
  background-image: url("../img/ico-quote.svg");
}

.row-gutter-xl {
  margin-right: -40px;
  margin-left: -40px;
}

.row-gutter-xl [class*="col-"] {
  padding-right: 40px;
  padding-left: 40px;
}

@media (max-width: 1629px) {
  .row-gutter-xl {
    margin-right: -30px;
    margin-left: -30px;
  }
  .row-gutter-xl [class*="col-"] {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 1319px) {
  .row-gutter-xl {
    margin-right: -13px;
    margin-left: -13px;
  }
  .row-gutter-xl [class*="col-"] {
    padding-right: 13px;
    padding-left: 13px;
  }
}

.row-gutter-lg {
  margin-right: -30px;
  margin-left: -30px;
}

.row-gutter-lg [class*="col-"] {
  padding-right: 30px;
  padding-left: 30px;
}

.row-gutter-md {
  margin-right: -25px;
  margin-left: -25px;
}

.row-gutter-md [class*="col-"] {
  padding-right: 25px;
  padding-left: 25px;
}

@media (max-width: 1319px) {
  .row-gutter-md {
    margin-right: -13px;
    margin-left: -13px;
  }
  .row-gutter-md [class*="col-"] {
    padding-right: 13px;
    padding-left: 13px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }
  .row {
    margin-right: -25px !important;
    margin-left: -25px !important;
  }
  [class*="col-"] {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }
}

@media (min-width: 1320px) {
  .layout-grid {
    position: absolute;
    top: 265px;
    right: 0;
    left: 0;
  }
}

@media (max-width: 1319px) {
  .layout-grid {
    margin-top: 20px;
  }
}

.column-layout-menu {
  position: fixed;
  z-index: 5000;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
  background: #f89b79;
}

@media (max-width: 1319px) {
  .column-layout-menu {
    display: block;
    visibility: hidden;
    transition: .6s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .column-layout-menu.in {
    display: block;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 1320px) {
  .column-layout-menu {
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 50px;
    width: 450px;
    display: inline-block;
    min-height: inherit;
    padding: 0;
    background: transparent;
  }
}

.column-layout-menu a {
  color: #fff;
}

@media (min-width: 1320px) {
  .column-layout-menu.menu-invert .main-menu {
    background-color: #000;
  }
}

@media (min-width: 1320px) {
  .column-layout-menu.menu-invert .menu-socials a svg.iconsvg {
    fill: #000;
  }
}

@media (min-width: 1320px) {
  .column-layout-spacer {
    float: left;
    width: 450px;
  }
}

.column-layout-content {
  width: 100%;
}

@media (min-width: 1320px) {
  .column-layout-content {
    float: right;
    width: calc(100% - 450px - 51px);
  }
}

main {
  position: relative;
}

body {
  font-family: "NHaasGroteskDSPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@media (max-width: 1319px) {
  body.subpage {
    padding-top: 60px;
  }
}

body ::-moz-selection {
  color: #f89b79;
  background-color: #000;
}

body ::selection {
  color: #f89b79;
  background-color: #000;
}

a {
  color: #000;
}

a:active, a:focus, a:hover {
  color: #000;
}

a,
button {
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

a:focus, a:hover,
button:focus,
button:hover {
  text-decoration: none;
  outline: none;
}

hr {
  height: 2px;
  margin: 30px 0;
  border: 0;
  background-color: #000;
}

@media (max-width: 1319px) {
  hr {
    margin: 20px 0;
  }
}

.img-responsive {
  display: inline-block;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 56.25%;
}

.video-container embed,
.video-container iframe,
.video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link-more-primary {
  color: #f89b79;
}

.link-more-primary:hover {
  color: #fff;
}

.background-gray-lighter .link-more-primary:hover {
  color: #000;
}

.foot-label,
.label {
  display: block;
  margin-bottom: 25px;
  padding: 6px 25px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  border-radius: 0;
  background-color: #f89b79;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.info {
  padding: 25px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}

@media (min-width: 768px) {
  .info {
    padding: 35px 0;
    font-size: 18px;
  }
}

@media (min-width: 1320px) {
  .info {
    padding: 50px 0;
  }
}

.info-link {
  padding: 35px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

@media (max-width: 767px) {
  .info-link {
    padding: 35px 0;
  }
}

.read-more {
  display: block;
  padding: 6px 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  background-color: #f89b79;
  font-size: 14px;
  font-weight: 700;
}

.dropdown-button {
  position: relative;
  display: inline-block;
}

.dropdown-button .btn-dropdown {
  color: #f89b79;
  border: 0;
  background: transparent;
}

.dropdown-button .caret {
  margin-top: -4px;
  border-width: 6px 6px 0 6px;
}

.dropdown-button .dropdown-menu {
  padding: 10px 0;
  background-color: #f89b79;
}

.dropdown-button .dropdown-menu a {
  display: block;
  padding: 10px;
  color: #000;
  background-color: #f89b79;
  font-size: 15px;
}

.dropdown-button .dropdown-menu a:hover {
  background-color: #fff;
}

svg.iconsvg {
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  fill: #000;
}

.row-100 .col-xs-12 {
  width: 100%;
}

.buy-ticket {
  display: inline-block;
  padding: 25px 50px;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.buy-ticket svg.iconsvg {
  float: left;
  width: 63px;
  height: 45px;
}

@media (max-width: 767px) {
  .buy-ticket svg.iconsvg {
    width: 30px;
    height: auto;
  }
}

.buy-ticket svg.iconsvg:hover {
  fill: #000;
}

.buy-ticket span {
  position: relative;
  top: 9px;
  margin-left: 15px;
}

.buy-ticket:hover {
  background-color: #f89b79;
}

.buy-ticket:hover svg.iconsvg {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.buy-ticket:focus, .buy-ticket:hover {
  text-decoration: none;
}

@media (min-width: 1320px) {
  .slider-spacer {
    position: relative;
    z-index: -100;
    height: 100vh;
    transition: 1s;
  }
}

.section-home-artists {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .section-home-artists {
    font-size: 70px;
    line-height: 1.15;
  }
}

@media (min-width: 1320px) {
  .section-home-artists {
    font-size: 80px;
    line-height: 1;
  }
}

.section-home-artists .box-inner {
  margin-top: 50px;
}

@media (max-width: 480px) {
  .section-home-artists .box-inner {
    margin-bottom: 30px;
  }
}

@media (min-width: 1630px) {
  .section-home-artists .box-inner {
    margin: -5px 180px 0 0;
  }
}

.section-home-artists .box-inner a {
  margin-right: 10px;
  color: #fff;
}

@media (min-width: 768px) {
  .section-home-artists .box-inner a {
    margin-right: 20px;
  }
}

.section-home-artists .box-inner a strong {
  color: #f89b79;
}

.section-home-artists .box-inner a:hover {
  opacity: .85;
  color: #f89b79;
}

.section-home-news {
  background-color: #eeeeef;
}

@media (max-width: 1319px) {
  .section-home-news {
    padding-bottom: 0;
  }
}

.section-home-news .info-link {
  padding-left: 0;
}

@media (max-width: 767px) {
  .section-home-news .info-link {
    padding-top: 15px !important;
  }
}

@media (min-width: 768px) {
  .section-tickets .collapse {
    display: block;
  }
}

.section-tickets .row-tickets {
  margin-top: 16px;
  cursor: default;
}

@media (max-width: 767px) {
  .section-tickets .row-tickets {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.section-tickets .row-tickets:first-of-type {
  margin-top: 0;
}

@media (min-width: 768px) {
  .section-tickets .row-tickets:hover .box-ticket {
    color: #fff;
  }
}

@media (min-width: 768px) {
  .section-tickets .row-tickets:hover svg.iconsvg {
    fill: #fff;
  }
}

.section-tickets .grid-ticket-buy,
.section-tickets .grid-ticket-prize,
.section-tickets .grid-ticket-type {
  float: left;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 32px;
  font-weight: 700;
}

@media (min-width: 1320px) and (max-width: 1629px) {
  .section-tickets .grid-ticket-buy,
  .section-tickets .grid-ticket-prize,
  .section-tickets .grid-ticket-type {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .section-tickets .grid-ticket-buy,
  .section-tickets .grid-ticket-prize,
  .section-tickets .grid-ticket-type {
    float: none;
    width: 100% !important;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.section-tickets .box-ticket {
  display: flex;
  align-items: center;
  height: 120px;
  padding: 20px 40px;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  color: #000;
  border: 0;
  background-color: #f89b79;
  line-height: 1;
}

@media (max-width: 1629px) {
  .section-tickets .box-ticket {
    padding: 10px 35px;
  }
}

@media (max-width: 1319px) {
  .section-tickets .box-ticket {
    height: 90px;
  }
}

@media (max-width: 767px) {
  .section-tickets .box-ticket {
    width: 100%;
    height: 60px;
    padding: 15px 20px;
  }
}

.section-tickets .box-ticket svg.iconsvg {
  margin-right: 30px;
}

@media (max-width: 767px) {
  .section-tickets .box-ticket svg.iconsvg {
    width: 42px;
    margin-right: 15px;
  }
}

.section-tickets .grid-ticket-type {
  width: 46%;
}

@media (max-width: 1319px) {
  .section-tickets .grid-ticket-type {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .section-tickets .grid-ticket-type {
    font-size: 16px;
  }
}

.section-tickets .grid-ticket-prize {
  width: 25%;
}

@media (max-width: 1319px) {
  .section-tickets .grid-ticket-prize {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .section-tickets .grid-ticket-prize {
    font-size: 21px;
  }
  .section-tickets .grid-ticket-prize .box-ticket {
    background-color: #eeeeef;
  }
}

.section-tickets .grid-ticket-buy {
  width: 29%;
  font-size: 20px;
}

@media (max-width: 1319px) {
  .section-tickets .grid-ticket-buy {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .section-tickets .grid-ticket-buy {
    font-size: 18px;
  }
}

@media (min-width: 1320px) and (max-width: 1629px) {
  .section-tickets .grid-ticket-buy .box-ticket {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .section-tickets .grid-ticket-buy .box-ticket {
    color: #fff;
    background-color: #000;
  }
}

@media (min-width: 768px) and (max-width: 1629px) {
  .section-tickets .grid-ticket-buy .box-ticket svg.iconsvg {
    width: 38px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .section-tickets .grid-ticket-buy .box-ticket svg.iconsvg {
    fill: #fff;
  }
}

.section-tickets .grid-ticket-buy .box-ticket:hover {
  color: #fff;
  background-color: #000;
}

.section-tickets .grid-ticket-buy .box-ticket:hover svg.iconsvg {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  fill: #fff;
}

@media (max-width: 767px) {
  .section-tickets button.box-ticket {
    position: relative;
  }
  .section-tickets button.box-ticket:before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    right: 20px;
    width: 20px;
    height: 20px;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: translateY(-50%) rotate(0);
            transform: translateY(-50%) rotate(0);
    background: url("../img/menu-arrow.svg") no-repeat center;
  }
  .section-tickets button.box-ticket.collapsed:before {
    -webkit-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
  }
}

.buy-tickets-portale {
  font-size: 42px;
  font-weight: 500;
  line-height: 1;
}

.buy-tickets-portale .title {
  font-weight: 500;
}

@media (max-width: 767px) {
  .buy-tickets-portale .title {
    margin-top: 15px;
    margin-bottom: 55px;
    font-size: 24px;
  }
}

.buy-tickets-portale a {
  margin-right: 15px;
}

.buy-tickets-portale a:hover {
  color: #f89b79;
}

@media (max-width: 767px) {
  .buy-tickets-portale a {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 21px;
  }
}

.section-on-slider {
  margin-top: -180px;
  padding-top: 0 !important;
  position: relative;
  z-index: 10;
}

@media (max-width: 1319px) {
  .section-on-slider {
    margin-top: 0;
  }
}

body.history .slider-content {
  display: none;
}

body.history .slider-arrow {
  display: none;
}

body.history .content-text .title {
  color: #f89b79;
}

body.history .content-text strong {
  display: block;
  color: #f89b79;
  font-size: 20px;
}

.section-slider {
  position: relative;
  z-index: 5;
  background-color: #000;
}

.section-slider .slider-bg {
  position: relative;
  min-height: 100vh;
  padding-top: 265px;
  padding-bottom: 230px;
  font-weight: 700;
  line-height: .9;
}

.home .section-slider .slider-bg {
  padding-bottom: 70px;
}

@media (max-width: 767px) {
  .section-slider .slider-bg {
    padding-top: 130px;
  }
}

.section-slider .slider-bg:after {
  position: absolute;
  display: block;
  content: "";
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  background: black;
}

.section-slider video {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
}

@media (min-width: 1320px) {
  .section-slider .column-layout-content {
    position: relative;
  }
}

.section-slider .slider-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 130px;
}

.section-slider .slider-small {
  margin-bottom: 50px;
  color: #fff;
  font-size: 60px;
}

@media (max-width: 767px) {
  .section-slider .slider-small {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

.section-slider .slider-title {
  color: #fff;
  font-size: 120px;
}

@media (max-width: 1629px) {
  .section-slider .slider-title {
    font-size: 95px;
  }
}

@media (max-width: 767px) {
  .section-slider .slider-title {
    word-break: break-word;
    font-size: 60px;
  }
}

@media (max-width: 375px) {
  .section-slider .slider-title {
    font-size: 50px;
  }
}

.home .section-slider .slider-title {
  color: #f89b79;
}

.section-slider .slider-ticket {
  position: relative;
  z-index: 10;
  display: none;
}

@media (max-width: 1319px) {
  .section-slider .slider-ticket {
    display: block;
    margin-top: 55px;
  }
}

@media (max-width: 767px) {
  .section-slider .slider-ticket {
    position: absolute;
    right: 25px;
    bottom: 70px;
    left: 25px;
  }
  .section-slider .slider-ticket a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 10px;
    font-size: 23px;
  }
  .section-slider .slider-ticket a span {
    top: auto;
  }
  .section-slider .slider-ticket svg {
    width: 42px;
    height: auto;
  }
}

.section-slider .slider-text-mask {
  position: relative;
  z-index: 10;
  top: 15px;
  overflow: hidden;
  padding-bottom: 15px;
}

.section-slider .slider-text-mask .slider-text {
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: .5s;
  transition-duration: 2s;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

.section-slider .slider-arrow {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 50px;
}

@media (min-width: 768px) and (max-width: 1319px) {
  .section-slider .slider-arrow {
    bottom: 240px;
    left: 50%;
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
  }
}

@media (max-width: 767px) {
  .section-slider .slider-arrow {
    bottom: 240px;
    left: 25px;
  }
}

@media (max-width: 1629px) {
  .home .section-slider .slider-arrow {
    bottom: 50px;
  }
}

@media (max-width: 767px) {
  .home .section-slider .slider-arrow {
    bottom: 165px;
  }
}

.section-slider .slider-arrow img {
  width: 53px;
  height: auto;
  -webkit-animation: jump 2s infinite;
          animation: jump 2s infinite;
}

@media (min-width: 1320px) and (max-width: 1629px) {
  .home .section-slider .slider-arrow img {
    width: 30px;
  }
}

@media (max-width: 767px) {
  .section-slider .slider-arrow img {
    width: 30px;
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.section-slider .slider-arrow:hover img {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.section-slider.animated .item.active .slider-text {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.section-slider.animated .item.active .slider-bg:after {
  background: rgba(0, 0, 0, 0.3);
}

.video-background {
  position: fixed;
  z-index: -99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
}

.video-background iframe,
.video-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16 / 9) {
  .video-foreground {
    top: -100%;
    height: 300%;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  .video-foreground {
    left: -100%;
    width: 300%;
  }
}

.slick-slide:focus {
  outline: 0;
}

.slick-slide:focus img:focus {
  outline: 0;
}

.slick-slide img {
  display: inline-block !important;
}

/* Arrows */
.slick-next,
.slick-prev {
  position: absolute;
  z-index: 10;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  border: 0;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  background-image: url("../img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 0;
}

.slick-next:hover,
.slick-prev:hover {
  opacity: 1;
}

.slick-next.slick-disabled,
.slick-prev.slick-disabled {
  opacity: .6;
}

.slick-prev {
  left: 60px;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.slick-next {
  right: 60px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 70px;
}

.slick-dots {
  position: relative;
  bottom: -25px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  border-radius: 50%;
  outline: none;
  background: #eeeeef;
  font-size: 0;
  line-height: 0;
}

.slick-dots li button:focus, .slick-dots li button:hover {
  outline: none;
}

.slick-dots li.slick-active button {
  background: #f89b79;
}

header {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 34px;
  padding-bottom: 55px;
  font-size: 27px;
  font-weight: 700;
  line-height: 1;
}

@media (min-width: 1320px) {
  header {
    padding-top: 65px;
  }
}

@media (max-width: 767px) {
  header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

header .logo {
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

header .logo img {
  float: left;
  max-width: 130px;
}

@media (min-width: 768px) {
  header .logo img {
    max-width: 300px;
    margin-top: 14px;
  }
}

header .ticket {
  display: none;
  float: right;
  color: #fff;
}

@media (min-width: 1320px) {
  header .ticket {
    display: block;
  }
}

header .ticket .buy-date {
  display: block;
  margin-bottom: 22px;
  color: #fff;
  height: 27px;
}

.home header .ticket .buy-date span {
  display: none;
}

.header-sticky {
  display: none;
}

@media (max-width: 1319px) {
  .header-sticky {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 10px;
    right: 0;
    display: block;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-sticky .logo-sticky {
    display: none;
    float: left;
  }
  .header-sticky .logo-sticky img {
    display: block;
    width: auto;
    height: 21px;
  }
  .header-sticky.sticked {
    z-index: 2000;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  }
  .header-sticky.sticked .container {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header-sticky.sticked .logo-sticky {
    display: block;
  }
  .header-sticky.sticked .mobile-button .navbar-toggle {
    width: 48px;
  }
  .header-sticky.sticked .mobile-button .navbar-toggle .icon-bar {
    height: 3px;
    background-color: #000;
  }
  .header-sticky.sticked .mobile-button .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
  }
  .header-sticky.sticked .mobile-button .navbar-toggle:hover .icon-bar {
    background-color: #000;
  }
}

@media (min-width: 768px) and (max-width: 1319px) {
  .header-sticky {
    left: 50%;
  }
  .header-sticky .container {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.mobile-button {
  float: right;
  min-height: inherit;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.mobile-button .navbar-toggle {
  width: 78px;
}

@media (max-width: 767px) {
  .mobile-button .navbar-toggle {
    width: 48px;
  }
}

.navbar-toggle {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.navbar-toggle .icon-bar {
  float: right;
  width: 100%;
  height: 7px;
  margin-top: 0;
  transition: width .3s;
  border-radius: 0;
  background-color: #fff;
}

@media (max-width: 767px) {
  .navbar-toggle .icon-bar {
    height: 3px;
  }
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 9px;
}

@media (max-width: 767px) {
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
  }
}

.navbar-toggle:hover .icon-bar:nth-of-type(3) {
  width: 80%;
}

.ticket-sticky {
  position: fixed;
  z-index: 100;
  top: 116px;
  right: 0;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.ticket-sticky.sticked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.ticket-sticky .buy-ticket {
  padding: 25px 20px;
}

@media (max-width: 767px) {
  .ticket-sticky .buy-ticket {
    padding: 15px 10px;
  }
}

@media (min-width: 1320px) {
  nav.main-menu {
    position: relative;
    color: #fff;
    border: 25px solid #fff;
  }
  nav.main-menu > ul.nav.navbar-nav {
    float: none;
    margin: 0 0 18px;
    padding: 0;
    list-style: none;
  }
  nav.main-menu > ul.nav.navbar-nav > li {
    position: static;
    float: none;
    text-transform: uppercase;
  }
  nav.main-menu > ul.nav.navbar-nav > li > a {
    display: block;
    padding: 22px 55px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
  }
  nav.main-menu > ul.nav.navbar-nav > li > a:focus, nav.main-menu > ul.nav.navbar-nav > li > a:hover {
    color: #000;
    background-color: #fff;
  }
  nav.main-menu > ul.nav.navbar-nav > li.active a, nav.main-menu > ul.nav.navbar-nav > li:focus a, nav.main-menu > ul.nav.navbar-nav > li:hover a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
  }
  nav.main-menu > ul.nav.navbar-nav > li:first-of-type > a {
    padding-top: 42px;
  }
  nav.main-menu > ul.nav.navbar-nav .nav .open > a:focus,
  nav.main-menu > ul.nav.navbar-nav .nav .open > a:hover,
  nav.main-menu > ul.nav.navbar-nav .open > a {
    color: #000;
    background-color: #fff;
  }
  nav.main-menu ul.dropdown-menu {
    position: absolute;
    top: -25px;
    right: -25px;
    bottom: -25px;
    left: auto;
    margin: 0;
    padding: 40px 60px 40px 35px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    border: 0;
    box-shadow: none;
  }
  nav.main-menu ul.dropdown-menu.dropdown-menu-columns li {
    float: left;
    width: 40%;
  }
  nav.main-menu ul.dropdown-menu li {
    padding: 15px 20px;
  }
  nav.main-menu ul.dropdown-menu li a {
    display: inline;
    margin: 0;
    padding: 0;
    white-space: normal;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
  }
  nav.main-menu ul.dropdown-menu li:hover a {
    color: #f89b79;
    background-color: transparent;
  }
  nav.main-menu ul.dropdown-menu li:hover a:hover {
    color: #f89b79;
  }
  .dropdown ul.dropdown-menu {
    display: block;
    visibility: hidden;
    transition: .5s;
    opacity: 0;
  }
  .dropdown.open ul.dropdown-menu {
    visibility: visible;
    opacity: 1;
  }
}

.logo-mobile img {
  width: 135px;
  height: auto;
}

@media (min-width: 1320px) {
  .logo-mobile {
    display: none;
  }
}

@media (max-width: 1319px) {
  .scroll-mobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 75px;
    left: 0;
    overflow-x: hidden;
    padding: 25px;
  }
  nav.main-menu {
    color: #000;
  }
  nav.main-menu > ul.nav.navbar-nav {
    margin: 45px -50px 0;
  }
  nav.main-menu > ul.nav.navbar-nav > li {
    padding: 0 50px;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  nav.main-menu > ul.nav.navbar-nav > li > a {
    display: block;
    padding: 14px 0;
    text-transform: uppercase;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
  }
  nav.main-menu > ul.nav.navbar-nav > li > a:focus, nav.main-menu > ul.nav.navbar-nav > li > a:hover {
    text-decoration: none;
    color: #000;
    background-color: transparent;
  }
  nav.main-menu > ul.nav.navbar-nav > li.active, nav.main-menu > ul.nav.navbar-nav > li.open {
    background-color: #fff;
  }
  nav.main-menu > ul.nav.navbar-nav .nav .open > a:focus,
  nav.main-menu > ul.nav.navbar-nav .nav .open > a:hover,
  nav.main-menu > ul.nav.navbar-nav .open > a {
    color: #000;
    background-color: transparent;
  }
  nav.main-menu ul.dropdown-menu {
    display: block;
    visibility: hidden;
    position: static;
    float: none;
    width: auto;
    padding: 0;
    border: 0;
  }
  nav.main-menu ul.dropdown-menu li {
    padding: 0 20px;
    height: 0;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
  }
}

@media (max-width: 1319px) and (max-width: 767px) {
  nav.main-menu ul.dropdown-menu li {
    padding: 0 10px;
  }
}

@media (max-width: 1319px) {
  nav.main-menu ul.dropdown-menu a {
    display: block;
    padding: 5px 0 !important;
    white-space: normal;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 38px !important;
  }
  nav.main-menu ul.dropdown-menu a:hover {
    color: #000;
    background-color: transparent;
  }
  .dropdown.open > a:before {
    position: absolute;
    display: block;
    content: "";
    right: 0;
    width: 30px;
    height: 30px;
    background: url("../img/menu-arrow.svg") no-repeat center;
  }
  .dropdown.open ul.dropdown-menu {
    display: block;
    visibility: visible;
    padding-bottom: 20px;
  }
  .dropdown.open ul.dropdown-menu > li {
    height: 38px;
  }
  .dropdown.open ul.dropdown-menu > a {
    line-height: 38px;
  }
  .navbar-collapse {
    height: auto !important;
    min-height: 100vh;
    margin: 0 !important;
  }
}

.menu-lang {
  padding: 25px 0;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 1320px) {
  .menu-lang {
    padding: 0 55px 44px;
  }
}

.menu-lang a {
  margin-left: 5px;
  color: #000;
}

@media (min-width: 1320px) {
  .menu-lang a {
    color: #fff;
    font-weight: 400;
  }
}

.menu-lang a:hover {
  text-decoration: none;
  color: #000;
}

@media (min-width: 1320px) {
  .menu-lang a:hover {
    color: #fff;
  }
}

.menu-socials {
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: default;
  text-align: left;
}

@media (min-width: 1320px) {
  .menu-socials {
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
  }
}

.menu-socials a {
  display: inline-block;
  margin: 0 12px;
}

.menu-socials a svg.iconsvg {
  fill: #000;
}

@media (min-width: 1320px) {
  .menu-socials a svg.iconsvg {
    fill: #fff;
  }
}

.menu-socials a:hover svg.iconsvg {
  fill: #000;
}

@media (min-width: 1320px) {
  .menu-socials a:hover svg.iconsvg {
    fill: #f89b79;
  }
}

.menu-download {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}

@media (min-width: 1025px) {
  .menu-download {
    display: none;
  }
}

.menu-download img {
  width: 125px;
}

.menu-download .link-download {
  padding: 20px 0;
  transition: none;
}

.menu-download .link-download:first-of-type {
  border-right: 1px solid #444;
}

.foot-label {
  margin: 0;
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 480px) {
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

footer .fbox {
  padding: 40px 20px;
}

@media (max-width: 1319px) {
  footer .fbox {
    padding: 40px 0;
  }
}

footer .slick-slide {
  margin: 0 20px;
  text-align: center;
}

footer .slick-slide:focus {
  outline: 0;
}

footer .slick-slide:focus img:focus {
  outline: 0;
}

footer .slick-slide img {
  max-width: 100%;
  height: auto;
  display: inline-block !important;
}

footer .info {
  padding: 30px 30px 0;
  color: #f89b79;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}

footer .info a {
  color: #f89b79;
}

footer .info a:hover {
  color: #fff;
}

@media (max-width: 1629px) {
  footer .info {
    padding-right: 0;
    padding-left: 0;
  }
}

footer .info .footer-center {
  text-align: center;
}

@media (max-width: 767px) {
  footer .info .footer-center {
    text-align: left;
    margin-top: 15px;
  }
}

footer .info .footer-center img {
  margin-right: 15px;
}

footer .info .footer-right {
  text-align: right;
}

@media (max-width: 767px) {
  footer .info .footer-right {
    text-align: left;
    margin-top: 15px;
  }
}

footer .info .footer-right img {
  margin-left: 15px;
}

:root .fix-masonry-listing,
_::-webkit-full-page-media .fix-masonry-listing,
_:future .fix-masonry-listing {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root .fix-masonry-listing *,
_::-webkit-full-page-media .fix-masonry-listing *,
_:future .fix-masonry-listing * {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root .fix-masonry-listing .grid-item,
_::-webkit-full-page-media .fix-masonry-listing .grid-item,
_:future .fix-masonry-listing .grid-item {
  overflow: hidden;
}

@media not all and (min-resolution: 0.001dpcm) {
  .fix-masonry-listing {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .fix-masonry-listing * {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .fix-masonry-listing .grid-item {
    overflow: hidden;
  }
}

.section-people-listing .label {
  margin-bottom: 0;
}

.people-view-az .row-az {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.people-view-az .row-az:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 8px;
  left: 8px;
  border-top: 3px solid #fff;
}

@media (max-width: 767px) {
  .people-view-az .row-az:before {
    right: 25px;
    left: 25px;
  }
}

.people-view-az .row-az:first-of-type {
  padding-top: 0;
}

.people-view-az .row-az:first-of-type:before {
  display: none;
}

.people-view-az .row-az:last-of-type {
  padding-bottom: 0;
}

.people-view-az .big-letter {
  display: block;
  color: #f89b79;
  font-size: 120px;
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 767px) {
  .people-view-az .big-letter {
    margin-bottom: 20px;
  }
}

.people-view-az .people-item .people-thumb {
  display: none;
}

.people-view-az .people-item .people-link {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 30px;
}

@media (max-width: 767px) {
  .people-view-az .people-item .people-link {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 24px;
  }
}

.people-view-az .people-item .people-link a {
  color: #fff;
}

.people-view-az .people-item .people-link a:hover {
  color: #f89b79;
}

.section-news-listing {
  margin-bottom: -45px;
}

.section-news-listing .news-item {
  margin-bottom: 0;
}

.news-item {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
}

.news-item .box-inner {
  padding: 30px;
  background-color: #fff;
}

@media (min-width: 1630px) {
  .news-item .box-inner {
    padding: 25px 50px;
  }
}

.news-item .news-thumb {
  display: block;
  overflow: hidden;
}

.news-item .news-thumb img {
  width: 100%;
  height: auto;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

@media (max-width: 767px) {
  .news-item .news-thumb img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

.news-item .news-link h3 {
  margin: 0 0 18px;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 28px;
}

@media (max-width: 767px) {
  .news-item .news-link h3 {
    color: #f89b79;
  }
}

.news-item .news-date {
  margin-bottom: 18px;
  font-size: 15px;
  font-weight: 700;
}

.news-item .news-socials {
  margin-top: 30px;
}

.news-item .news-socials a {
  margin-right: 10px;
  display: inline-block;
}

.news-item .news-socials svg.iconsvg {
  width: 21px;
  height: 21px;
}

.news-item .news-socials svg.iconsvg:hover {
  fill: #f89b79;
}

.news-item p {
  line-height: 1.25;
}

.news-item .read-more-mask {
  height: 26px;
}

@media (min-width: 1320px) {
  .news-item .read-more-mask {
    overflow: hidden;
  }
}

.news-item .read-more {
  height: 26px;
  line-height: 26px;
  padding: 0 30px;
  text-align: left;
}

@media (min-width: 1320px) {
  .news-item .read-more {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@media (min-width: 1630px) {
  .news-item .read-more {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.news-item:hover .news-thumb img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.news-item:hover .news-link h3 {
  color: #f89b79;
}

.news-item:hover .read-more {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.people-item .people-thumb {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #f89b79;
}

.people-item .people-thumb img {
  width: 100%;
  height: auto;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.people-item .people-thumb .blend-mode {
  z-index: 10;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
  background-color: #f89b79;
  mix-blend-mode: multiply;
}

.people-item .people-link {
  margin: 45px 0;
  font-size: 52px;
  line-height: .9;
}

.people-item .people-link a {
  color: #f89b79;
}

.people-item:hover .people-thumb img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: .5;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.people-item:hover .people-link a {
  color: #fff;
}

.sorting {
  margin-top: 23px;
  margin-bottom: 46px;
  color: #fff;
  font-weight: 700;
}

.sorting .sorting-category {
  float: left;
}

.sorting .sorting-icons {
  float: right;
}

.sorting .sorting-icons a {
  margin-left: 20px;
}

@media (max-width: 1629px) {
  .sorting .sorting-icons img {
    width: auto;
    height: 24px;
  }
}

.single-featured-image {
  height: 450px;
}

@media (max-width: 1319px) {
  .single-featured-image {
    height: 340px;
  }
}

@media (max-width: 767px) {
  .single-featured-image {
    height: 190px;
  }
}

.single-socials {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: left;
  width: 160px;
  min-height: 1px;
}

.single-content .single-socials {
  display: none;
}

@media (max-width: 1629px) {
  .single-socials {
    width: 140px;
  }
}

@media (max-width: 1319px) {
  .single-socials {
    top: 50px;
  }
}

@media (max-width: 767px) {
  .single-socials {
    display: none;
  }
  .single-content .single-socials {
    position: static;
    top: 0;
    display: flex;
    float: none;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  .single-content .single-socials .icon {
    margin: 10px 5px;
    border: 0;
  }
  .single-content .single-socials .icon:hover {
    background: transparent;
  }
  .single-content .single-socials .icon:hover svg.iconsvg {
    fill: #f89b79;
  }
}

.single-socials .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-bottom: 6px solid #fff;
}

@media (max-width: 1629px) {
  .single-socials .icon {
    height: 80px;
    border-width: 3px;
  }
}

@media (max-width: 767px) {
  .single-socials .icon {
    width: auto;
    height: auto;
  }
}

.single-socials .icon svg.iconsvg {
  width: 30px;
  height: 30px;
  fill: #fff;
}

@media (max-width: 1629px) {
  .single-socials .icon svg.iconsvg {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 767px) {
  .single-socials .icon svg.iconsvg {
    fill: #000;
  }
}

.single-socials .icon:first-of-type {
  border-top: 0;
}

.single-socials .icon:hover {
  background: #f89b79;
}

.single-socials .icon-download {
  color: #fff;
  border: 0;
  background-color: #f89b79;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.single-socials .icon-download img {
  width: 18px;
  margin-right: 10px;
}

.single-socials .icon-download:hover {
  color: #fff;
  background-color: #000;
}

.single-content {
  position: relative;
  float: left;
  width: calc(100% - 160px);
}

@media (max-width: 1629px) {
  .single-content {
    width: calc(100% - 140px);
  }
}

@media (max-width: 767px) {
  .single-content {
    width: 100%;
  }
}

.single-content .category {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
}

.single-content .category a {
  text-decoration: none;
  color: #f89b79;
}

.single-content .category a:hover {
  text-decoration: none;
  color: #000;
}

.single-content .date {
  color: #bebebe;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 1319px) {
  .single-content .date {
    font-size: 16px;
  }
}

.single-content .tags {
  margin-top: 50px;
  padding-top: 30px;
  color: #bebebe;
  border-top: 2px solid #000;
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 1319px) {
  .single-content .tags {
    margin-top: 0;
    margin-bottom: 30px;
    border: 0;
  }
}

.single-content .tags a {
  text-decoration: none;
  color: #bebebe;
}

.single-content .tags a:hover {
  color: #000;
}

.single-content .panel-group .panel-body {
  padding-right: 0;
  padding-left: 0;
}

.single-content-news .title {
  font-size: 36px;
}

@media (max-width: 1319px) {
  .single-content-news .title {
    font-size: 24px;
  }
}

.page-content {
  position: relative;
  padding: 50px;
  background: #fff;
}

@media (max-width: 767px) {
  .page-content {
    padding: 25px;
  }
}

.page-content .title {
  font-size: 60px;
}

@media (max-width: 1319px) {
  .page-content .title {
    font-size: 40px;
  }
}

.page-content .title a {
  display: inline-block;
  text-decoration: none;
}

.page-content .title a:hover {
  color: #f89b79;
}

article .title a {
  margin-top: 40px;
  margin-bottom: 30px;
}

article:first-of-type .title a {
  margin-top: 0;
}

.btn-back {
  height: 35px;
}

@media (max-width: 1319px) {
  .btn-back {
    height: 27px;
  }
}

@media (max-width: 767px) {
  .btn-back {
    height: 35px;
  }
}

.btn-back a.btn {
  position: absolute;
  right: 0;
  bottom: -35px;
  height: 70px;
  padding: 0 70px;
  text-transform: uppercase;
  color: #000;
  background-color: #f89b79;
  line-height: 70px;
}

@media (max-width: 1319px) {
  .btn-back a.btn {
    bottom: -24px;
    height: 54px;
    padding: 0 30px;
    font-size: 16px;
    line-height: 54px;
  }
}

@media (max-width: 767px) {
  .btn-back a.btn {
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    font-size: 14px;
  }
}

.panel-group .panel + .panel {
  margin-top: 25px;
}

@media (max-width: 1629px) {
  .panel-group .panel + .panel {
    margin-top: 15px;
  }
}

.panel-group .panel {
  border: 0;
  box-shadow: none;
}

.panel-group .panel-heading {
  margin: 0;
  padding: 0;
}

.panel-group .panel-heading a,
.panel-group .panel-heading span {
  display: block;
  margin: 0;
  padding: 32px 50px;
  text-decoration: none;
  color: #000;
  background: #f89b79;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 1629px) {
  .panel-group .panel-heading a,
  .panel-group .panel-heading span {
    padding: 30px 35px;
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .panel-group .panel-heading a,
  .panel-group .panel-heading span {
    padding: 20px 25px;
    font-size: 18px;
  }
}

.panel-group .panel-heading a.collapsed,
.panel-group .panel-heading span.collapsed {
  background: #eeeeef;
}

.panel-group .panel-heading a:hover,
.panel-group .panel-heading span:hover {
  text-decoration: none;
  color: #000;
  background: #f89b79;
}

.panel-group .panel-heading span {
  color: #000;
  background: #f89b79;
}

.panel-group .panel-heading span:hover {
  color: #000;
  background: #f89b79;
}

.panel-group .panel-body {
  padding: 45px 50px;
  border: 0 !important;
  background: #fff;
}

@media (max-width: 1629px) {
  .panel-group .panel-body {
    padding: 15px;
  }
}

.panel-group .panel-body .btn-primary {
  color: #000;
}

.panel-group .panel-body .btn-primary:active, .panel-group .panel-body .btn-primary:focus, .panel-group .panel-body .btn-primary:hover {
  color: #000;
}

@media (max-width: 767px) {
  .panel-group .panel-body .btn {
    display: block;
    margin-right: -15px;
    margin-left: -15px;
    font-size: 12px;
  }
}

.panel-group .panel-body p:last-of-type {
  margin-bottom: 0;
}

.panel-group .panel-body .content-photo {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 767px) {
  .panel-group .panel-body .content-photo {
    margin-left: 0;
    margin-right: 0;
  }
}

.panel-group.text-uppercase .panel-body {
  text-transform: none;
}

.panel-group.panel-group-list .panel-body {
  padding: 0;
}

.panel-group.panel-group-list .panel-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.panel-group.panel-group-list .panel-body ul li {
  margin: 0;
  padding: 35px 50px;
  border-bottom: 6px solid #fff;
}

.panel-group.panel-group-list .panel-body a {
  text-decoration: none;
}

.panel-group.panel-group-list .panel-body a:hover {
  color: #f89b79;
}

.section-page-text .content-text {
  font-size: 28px;
}

@media (max-width: 1319px) {
  .section-page-text .content-text {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .section-page-text .content-text {
    font-size: 16px;
  }
}

.section-page-text .content-text .h1,
.section-page-text .content-text h1 {
  color: #f89b79;
}

.section-page-text .content-text .h2,
.section-page-text .content-text h2 {
  color: #f89b79;
}

.section-page-text .content-text .h3,
.section-page-text .content-text h3 {
  color: #f89b79;
}

.section-page-text .content-text .h4,
.section-page-text .content-text h4 {
  color: #f89b79;
}

.section-page-text .content-text .h5,
.section-page-text .content-text h5 {
  color: #f89b79;
}

.section-page-text .content-text .h6,
.section-page-text .content-text h6 {
  color: #f89b79;
}

.section-page-text .content-text h1 {
  font-size: 40px;
}

@media (max-width: 767px) {
  .section-page-text .content-text h1 {
    font-size: 26px;
  }
}

.section-page-text .panel-group .panel-heading a,
.section-page-text .panel-group .panel-heading span {
  background: #f89b79;
}

.section-page-text .panel-group .panel-heading a.collapsed,
.section-page-text .panel-group .panel-heading span.collapsed {
  background: #fff;
}

.section-page-text .panel-group .panel-heading a:hover,
.section-page-text .panel-group .panel-heading span:hover {
  background: #f89b79;
}

.section-page-text .panel-group .panel-body {
  background: #000;
}

.desc-collapse {
  position: relative;
  transition: .5s;
  background-color: #fff;
}

.desc-collapse.collapse {
  display: block;
  overflow-y: hidden;
  height: 150px;
  min-height: 150px;
}

.desc-collapse.collapse.in {
  height: auto;
}

.desc-collapse.collapse.in:before {
  height: 0;
}

.desc-collapse.collapsing {
  height: 150px;
  min-height: 150px;
}

.desc-collapse:before {
  position: absolute;
  display: block;
  content: "";
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 70%);
}

.desc-collapse .inner {
  padding: 40px 0 20px;
}

.btn-desc-collapse {
  margin-bottom: 70px;
  padding: 0;
  color: #f89b79;
  border-radius: 0;
  background-color: transparent;
  font-size: 20px;
}

.btn-desc-collapse:focus, .btn-desc-collapse:hover {
  color: #000;
  background-color: transparent;
  box-shadow: none;
}

.btn-desc-collapse:focus {
  color: #f89b79;
}

.btn-desc-collapse:before {
  display: none;
  content: 'Rozwiń więcej';
}

.btn-desc-collapse:after {
  content: 'Zwiń';
}

.btn-desc-collapse.collapsed:before {
  display: inline-block;
}

.btn-desc-collapse.collapsed:after {
  display: none;
}

.content-photo {
  margin: 70px -50px;
}

@media (max-width: 767px) {
  .content-photo {
    margin: 35px -25px;
  }
}

.content-photo img {
  width: 100%;
  height: auto;
  display: block;
}

body.page-404 {
  padding: 0 !important;
}

body.page-404 header {
  z-index: auto;
}

body.page-404 header .ticket {
  display: none;
}

body.page-404 footer .info {
  padding: 30px 0 0;
}

body.page-404 .header-sticky {
  display: none !important;
}

body.page-404 .section-page-text .logo {
  display: none;
}

@media (max-width: 1319px) {
  body.page-404 .section-page-text .logo {
    display: block;
    margin: 50px 0;
  }
}

body.page-404 .section-page-text .interaction {
  margin: 0;
}

body.page-404 .intro {
  min-height: 100vh;
  height: auto;
}

body.page-404 .content-text h1 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
}

body.page-404 .content-text p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

body.page-404 .btn-back {
  margin-top: 100px;
  position: static;
  height: auto;
}

body.page-404 .btn-back .btn {
  pointer-events: all;
  position: static;
}

body.page-404 .content--instrument {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Zero-element page loader */
.js .loading::after,
.js .loading::before {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.js .loading::before {
  content: '';
  background: #000;
}

.js .loading::after {
  padding: 2em 0 0;
  content: 'Loading...';
  -webkit-animation: loaderAnim 1s alternate infinite;
          animation: loaderAnim 1s alternate infinite;
  text-align: center;
  white-space: pre;
  color: #fff;
  background: url("../404/img/note.svg") no-repeat 50% calc(50% - 3em);
  background-size: 2.5em;
  font-weight: bold;
  line-height: 2;
}

@-webkit-keyframes loaderAnim {
  to {
    opacity: .2;
  }
}

@keyframes loaderAnim {
  to {
    opacity: .2;
  }
}

/* Intro header */
.intro {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.intro__title {
  color: #fff;
}

/* Intro title and tagline */
.interaction {
  position: relative;
  width: 140px;
  height: 72px;
  margin: 0 auto;
  pointer-events: none;
  background: url("../404/img/interaction_dark.svg") no-repeat center center;
  background-size: cover;
}

.interaction--light {
  background-image: url("../404/img/interaction_light.svg");
}

.interaction--corner {
  position: absolute;
  right: .5em;
  bottom: 1em;
}

/* Content */
.content {
  position: relative;
  min-height: 100vh;
  padding: 15vh 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content--nopadding {
  padding: 0;
}

.content--boxes {
  min-height: 70vh;
}

.content__inner {
  position: relative;
  z-index: 10;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  pointer-events: none;
}

.content__inner--fheight {
  height: 60vh;
}

.content__inner--half {
  flex: none;
  width: 50%;
  max-width: none;
  height: auto;
  padding: 15vh calc(25vw - 220px);
}

.content__inner--half .content__title {
  margin-bottom: .5em;
  text-transform: uppercase;
  font-size: 2.25em;
}

.content__inner--half .content__subtitle {
  font-size: 1.75em;
}

.content__inner--half .link-more {
  color: rgba(0, 0, 0, 0.3);
}

.content__title {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0 5vmax;
  text-transform: uppercase;
  pointer-events: none;
  font-size: 5em;
  font-weight: 900;
  line-height: .85;
}

.content__title--center {
  text-align: center;
}

.content__title .icon {
  display: inline-block;
  margin: 0 .25em;
  color: #fff;
  font-size: .45em;
}

.content__subtitle {
  margin: .5em 0 1em;
  font-size: 2.5em;
  font-weight: normal;
}

.content--bg {
  background-position: 50% 50%;
  background-size: cover;
}

.content--cursor-dark {
  cursor: url("../404/img/cursors/cursor_dark.png") 16 16, url(../404/img/cursors/cursor_dark.cur), pointer;
}

.content--cursor-light {
  cursor: url("../404/img/cursors/cursor_light.png") 16 16, url(../404/img/cursors/cursor_light.cur), pointer;
}

.content--bg-mic {
  background-image: url(../404/img/mic.jpg);
}

/* Instruments */
.instrument {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  opacity: 1;
}

.instrument--hidden {
  opacity: 0;
}

.instrument > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Piano */
.piano::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  pointer-events: none;
  background: linear-gradient(180deg, #000, transparent);
}

.piano__key--natural {
  fill: #464646;
  stroke: #000;
  stroke-width: .5px;
}

.piano__key--natural.piano__key--active {
  fill: #f89b79;
}

.piano__key--flat {
  fill: #000;
}

.piano__key--flat.piano__key--active {
  fill: #f07f56;
}
