body.page-404 {
	padding: 0 !important;

	header {
		z-index: auto;

		.ticket {
			display: none;
		}
	}

	footer {
		.info {
			padding: 30px 0 0;
		}
	}

	.header-sticky {
		display: none !important;
	}

	.section-page-text {
		@media(max-width: $screen-sm-max) {
			// padding-top: 100px;
		}

		.logo {
			display: none;
			@media(max-width: $screen-sm-max) {
				display: block;
				margin: 50px 0;
			}
		}

		.interaction {
			margin: 0;
		}
	}

	.intro {
		min-height: 100vh;
		height: auto;
	}

	.content-text {
		h1 {
			font-size: 60px;
			color: #fff;
			text-transform: uppercase;
		}

		p {
			color: #fff;
			font-size: 20px;
			font-weight: 500;
		}
	}

	.btn-back {
		margin-top: 100px;
		position: static;
		height: auto;

		.btn {
			pointer-events: all;
			position: static;
		}
	}

	.content--instrument {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
/* Zero-element page loader */

.js .loading::after,
.js .loading::before {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.js .loading::before {
	content: '';
	background: #000;
}

.js .loading::after {
	padding: 2em 0 0;
	content: 'Loading...';
	animation: loaderAnim 1s alternate infinite;
	text-align: center;
	white-space: pre;
	color: #fff;
	background: url('../404/img/note.svg') no-repeat 50% calc(50% - 3em);
	background-size: 2.5em;
	font-weight: bold;
	line-height: 2;
}
@keyframes loaderAnim {
	to {
		opacity: .2;
	}
}
/* Intro header */

.intro {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	pointer-events: none;
}

.intro__title {
	color: #fff;
}
/* Intro title and tagline */
.interaction {
	position: relative;
	width: 140px;
	height: 72px;
	margin: 0 auto;
	pointer-events: none;
	background: url('../404/img/interaction_dark.svg') no-repeat center center;
	background-size: cover;
}

.interaction--light {
	background-image: url('../404/img/interaction_light.svg');
}

.interaction--corner {
	position: absolute;
	right: .5em;
	bottom: 1em;
}
/* Content */

.content {
	position: relative;
	min-height: 100vh;
	padding: 15vh 0 0;
	user-select: none;
}

.content--nopadding {
	padding: 0;
}

.content--boxes {
	min-height: 70vh;
}

.content__inner {
	position: relative;
	z-index: 10;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	pointer-events: none;
}

.content__inner--fheight {
	height: 60vh;
}

.content__inner--half {
	flex: none;
	width: 50%;
	max-width: none;
	height: auto;
	padding: 15vh calc(25vw - 220px);
}

.content__inner--half .content__title {
	margin-bottom: .5em;
	text-transform: uppercase;
	font-size: 2.25em;
}

.content__inner--half .content__subtitle {
	font-size: 1.75em;
}

.content__inner--half .link-more {
	color: rgba(0,0,0,0.3);
}

.content__title {
	position: relative;
	z-index: 10;
	margin: 0;
	padding: 0 5vmax;
	text-transform: uppercase;
	pointer-events: none;
	font-size: 5em;
	font-weight: 900;
	line-height: .85;
}

.content__title--center {
	text-align: center;
}

.content__title .icon {
	display: inline-block;
	margin: 0 .25em;
	color: #fff;
	font-size: .45em;
}

.content__subtitle {
	margin: .5em 0 1em;
	font-size: 2.5em;
	font-weight: normal;
}

.content--bg {
	background-position: 50% 50%;
	background-size: cover;
}

.content--cursor-dark {
	cursor: url('../404/img/cursors/cursor_dark.png') 16 16, url(../404/img/cursors/cursor_dark.cur), pointer;
}

.content--cursor-light {
	cursor: url('../404/img/cursors/cursor_light.png') 16 16, url(../404/img/cursors/cursor_light.cur), pointer;
}
.content--bg-mic {
    background-image: url(../404/img/mic.jpg);
}

/* Instruments */

.instrument {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	transition: opacity 1s;
	opacity: 1;
}

.instrument--hidden {
	opacity: 0;
}

.instrument > svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	user-select: none;
}
/* Piano */

.piano::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	pointer-events: none;
	background: linear-gradient(180deg, #000, rgba(0,0,0,0));
}

.piano__key--natural {
	fill: #464646;
	stroke: #000;
	stroke-width: .5px;
}

.piano__key--natural.piano__key--active {
	fill: #f89b79;
}

.piano__key--flat {
	fill: #000;
}

.piano__key--flat.piano__key--active {
	fill: #f07f56;
}
