.foot-label {
	margin: 0;
}

footer {
	padding-top: 100px;
	padding-bottom: 100px;
	@media(max-width: $screen-xs) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.fbox {
		padding: 40px 20px;
		@media(max-width: $screen-sm-max) {
			padding: 40px 0;
		}
	}

	.slick-slide {
		margin: 0 20px;
		text-align: center;

		&:focus {
			outline: 0;

			img {
				&:focus {
					outline: 0;
				}
			}
		}

		img {
			max-width: 100%;
			height: auto;
			display: inline-block !important;
		}
	}

	.info {
		padding: 30px 30px 0;
		color: $brand-primary;
		font-size: 14px;
		line-height: 28px;
		font-weight: 500;

		a {
			color: $brand-primary;

			&:hover {
				color: #fff;
			}
		}
		@media(max-width: $screen-md-max) {
			padding-right: 0;
			padding-left: 0;
		}

		.footer-center {
			text-align: center;
			@media(max-width: $screen-xs-max) {
				text-align: left;
				margin-top:15px;
			}

			img {
				margin-right: 15px;
			}
		}

		.footer-right {
			text-align: right;
			@media(max-width: $screen-xs-max) {
				text-align: left;
				margin-top:15px;
			}

			img {
				margin-left: 15px;
			}
		}
	}
}
