.form,
form {
	.form-group {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	label {
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 700;
		line-height: normal;
	}

	.help-block {
		line-height: 1.4;
	}

	.form-control {
		height: 36px;
		margin-top: 0;
		transition: $transition;
		color: $gray-dark;
		border: 1px solid $gray-border;
		border-radius: 4px;
		outline: 0;
		box-shadow: none;
		font-size: 12px;
		font-weight: 400;

		&:focus {
			color: $gray-dark;
			border-color: darken($gray-border,10%);
			box-shadow: inset 3px 3px 3px rgba(0,0,0,0.1);
		}

		&::placeholder {
			padding-top: 2px;
			color: $text-muted;
			font-weight: 400;
		}
	}

	textarea.form-control {
		height: 80px;
		resize: vertical;
	}
}
