header {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	left: 0;
	padding-top: 34px;
	padding-bottom: 55px;
	font-size: 27px;
	font-weight: 700;
	line-height: 1;
	@media(min-width: $screen-md) {
		padding-top: 65px;
	}
	@media(max-width: $screen-xs-max) {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.logo {
		transition: $transition;

		img {
			float: left;
			max-width: 130px;
			@media(min-width: $screen-sm) {
				max-width: 300px;
				margin-top: 14px;
			}
		}
	}

	.ticket {
		display: none;
		float: right;
		color: #fff;
		@media(min-width: $screen-md) {
			display: block;
		}

		.buy-date {
			display: block;
			margin-bottom: 22px;
			color: #fff;
			height: 27px;

			span {
				.home & {
					display: none;
				}
			}
		}
	}
}
//
// sticky header
//

.header-sticky {
	display: none;
}
@media (max-width:$screen-sm-max) {
	.header-sticky {
		position: fixed;
		z-index: 100;
		top: 0;
		right: 10px;
		right: 0;
		display: block;
		overflow: hidden;
		padding-top: 20px;
		padding-bottom: 20px;

		.logo-sticky {
			display: none;
			float: left;

			img {
				display: block;
				width: auto;
				height: 21px;
			}
		}

		&.sticked {
			z-index: 2000;
			left: 0;
			background-color: #fff;
			box-shadow: 0 0 30px rgba(0,0,0,0.4);

			.container {
				transform: translateX(0);
			}

			.logo-sticky {
				display: block;
			}

			.mobile-button {
				.navbar-toggle {
					width: 48px;

					.icon-bar {
						height: 3px;
						background-color: #000;

						&+.icon-bar {
							margin-top: 6px;
						}
					}

					&:hover {
						.icon-bar {
							background-color: #000;
						}
					}
				}
			}
		}
	}
}
@media (min-width:$screen-sm) and (max-width:$screen-sm-max) {
	.header-sticky {
		left: 50%;

		.container {
			transform: translateX(-50%);
		}
	}
}

.mobile-button {
	float: right;
	min-height: inherit;
	margin: 0;
	border: 0;
	background-color: transparent;

	.navbar-toggle {
		width: 78px;
		@media(max-width: $screen-xs-max) {
			width: 48px;
		}
	}
}

.navbar-toggle {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;

	.icon-bar {
		float: right;
		width: 100%;
		height: 7px;
		margin-top: 0;
		transition: width .3s;
		border-radius: 0;
		background-color: #fff;
		@media(max-width: $screen-xs-max) {
			height: 3px;
		}

		&+.icon-bar {
			margin-top: 9px;
			@media(max-width: $screen-xs-max) {
				margin-top: 6px;
			}
		}
	}

	&:hover {
		.icon-bar:nth-of-type(3) {
			width: 80%;
		}
	}
}

.ticket-sticky {
	position: fixed;
	z-index: 100;
	top: 116px;
	right: 0;
	transition: $transition;
	transform: translateX(100%);
	// @media(max-width: $screen-md-max) {
	// 	display: none;
	// }
	&.sticked {
		transform: translateX(0);
	}

	.buy-ticket {
		padding: 25px 20px;
		@media(max-width: $screen-xs-max) {
			padding: 15px 10px;
		}
	}
}
