//custom gutter
$gutter-xl: 40px;
$gutter-lg: 30px;
$gutter-md: 25px;
$gutter-sm: 13px;

.row-gutter-xl {
	margin-right: -$gutter-xl;
	margin-left: -$gutter-xl;

	[class*="col-"] {
		padding-right: $gutter-xl;
		padding-left: $gutter-xl;
	}
	@media(max-width: $screen-md-max) {
		margin-right: -$gutter-lg;
		margin-left: -$gutter-lg;

		[class*="col-"] {
			padding-right: $gutter-lg;
			padding-left: $gutter-lg;
		}
	}
	@media(max-width: $screen-sm-max) {
		margin-right: -$gutter-sm;
		margin-left: -$gutter-sm;

		[class*="col-"] {
			padding-right: $gutter-sm;
			padding-left: $gutter-sm;
		}
	}
}

.row-gutter-lg {
	margin-right: -$gutter-lg;
	margin-left: -$gutter-lg;

	[class*="col-"] {
		padding-right: $gutter-lg;
		padding-left: $gutter-lg;
	}
}

.row-gutter-md {
	margin-right: -$gutter-md;
	margin-left: -$gutter-md;

	[class*="col-"] {
		padding-right: $gutter-md;
		padding-left: $gutter-md;
	}
	@media(max-width: $screen-sm-max) {
		margin-right: -$gutter-sm;
		margin-left: -$gutter-sm;

		[class*="col-"] {
			padding-right: $gutter-sm;
			padding-left: $gutter-sm;
		}
	}
}
@media(max-width:$screen-xs-max) {
	.container {
		padding-right: $gutter-md !important;
		padding-left: $gutter-md !important;
	}

	.row {
		margin-right: -$gutter-md !important;
		margin-left: -$gutter-md !important;
	}

	[class*="col-"] {
		padding-right: $gutter-md !important;
		padding-left: $gutter-md !important;
	}
}

.layout-grid {
	@media(min-width: $screen-md) {
		position: absolute;
		top: 265px;
		right: 0;
		left: 0;
	}
	@media(max-width: $screen-sm-max) {
		margin-top: 20px;
	}
}
$layout-menu-width: 450px;

.column-layout-menu {
	position: fixed;
	z-index: 5000;
	top: 0;
	right: 0;
	left: 0;
	min-height: 100vh;
	background: $brand-primary;
	@media(max-width:$screen-sm-max) {
		display: block;
		visibility: hidden;
		transition: .6s;
		transform: translateX(100%);

		&.in {
			display: block;
			visibility: visible;
			transform: translateX(0);
		}
	}
	@media(min-width:$screen-md) {
		position: sticky;
		z-index: 10;
		top: 50px;
		width: $layout-menu-width;
		display: inline-block;
		min-height: inherit;
		padding: 0;
		background: transparent;
	}

	a {
		color: #fff;
	}
}

.column-layout-menu.menu-invert {
	.main-menu {
		@media(min-width:$screen-md) {
			background-color: #000;
		}
	}

	.menu-socials a svg.iconsvg {
		@media(min-width:$screen-md) {
			fill: #000;
		}
	}
}

.column-layout-spacer {
	@media(min-width:$screen-md) {
		float: left;
		width: $layout-menu-width;
	}
}

.column-layout-content {
	width: 100%;
	@media(min-width:$screen-md) {
		float: right;
		width: calc(100% - #{$layout-menu-width} - 51px);
	}
}

main {
	position: relative;
}
