//
// MENU FOR DESKTOP
//
@media(min-width: $screen-md) {
	nav.main-menu {
		position: relative;
		color: #fff;
		border: 25px solid #fff;

		> ul.nav.navbar-nav {
			float: none;
			margin: 0 0 18px;
			padding: 0;
			list-style: none;

			> li {
				position: static;
				float: none;
				text-transform: uppercase;

				> a {
					display: block;
					padding: 22px 55px;
					color: #fff;
					font-size: 32px;
					font-weight: 700;
					line-height: 1;

					&:focus,
					&:hover {
						color: #000;
						background-color: #fff;
					}
				}

				&.active,
				&:focus,
				&:hover {
					a {
						text-decoration: none;
						color: #000;
						background-color: #fff;
					}
				}

				&:first-of-type {
					> a {
						padding-top: 42px;
					}
				}
			}

			.nav .open > a:focus,
			.nav .open > a:hover,
			.open > a {
				color: #000;
				background-color: #fff;
			}
		}

		ul.dropdown-menu {
			position: absolute;
			top: -25px;
			right: -25px;
			bottom: -25px;
			left: auto;
			margin: 0;
			padding: 40px 60px 40px 35px;
			transform: translateX(100%);
			border: 0;
			box-shadow: none;

			&.dropdown-menu-columns {
				li {
					float: left;
					width: 40%;
				}
			}

			li {
				padding: 15px 20px;

				a {
					display: inline;
					margin: 0;
					padding: 0;
					white-space: normal;
					color: #000;
					font-size: 32px;
					font-weight: 700;
					line-height: 1;
				}

				&:hover {
					a {
						color: $brand-primary;
						background-color: transparent;

						&:hover {
							color: $brand-primary;
						}
					}
				}
			}
		}
	}

	.dropdown {
		ul.dropdown-menu {
			display: block;
			visibility: hidden;
			transition: .5s;
			opacity: 0;
		}

		&.open {
			ul.dropdown-menu {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
//
// MENU FOR MOBILE
//

.logo-mobile {
	img {
		width: 135px;
		height: auto;
	}
	@media(min-width:$screen-md) {
		display: none;
	}
}
@media(max-width: $screen-sm-max) {
	.scroll-mobile {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 75px;
		left: 0;
		overflow-x: hidden;
		padding: 25px;
	}

	nav.main-menu {
		color: #000;

		> ul.nav.navbar-nav {
			margin: 45px -50px 0;

			> li {
				padding: 0 50px;
				transition: $transition;

				> a {
					display: block;
					padding: 14px 0;
					text-transform: uppercase;
					color: #000;
					font-size: 30px;
					font-weight: 700;
					line-height: 1;

					&:focus,
					&:hover {
						text-decoration: none;
						color: #000;
						background-color: transparent;
					}
				}

				&.active,
				&.open {
					background-color: #fff;
				}
			}

			.nav .open > a:focus,
			.nav .open > a:hover,
			.open > a {
				color: #000;
				background-color: transparent;
			}
		}

		ul.dropdown-menu {
			display: block;
			visibility: hidden;
			position: static;
			float: none;
			width: auto;
			padding: 0;
			border:0;

			li {
				padding: 0 20px;
				height: 0;
				transition: $transition;
				overflow: hidden;
				@media(max-width:$screen-xs-max) {
					padding: 0 10px;
				}
			}

			a {
				display: block;
				padding: 5px 0 !important;
				white-space: normal;
				color: #000;
				font-size: 18px;
				font-weight: 700;
				line-height: 38px !important;


				&:hover {
					color: #000;
					background-color: transparent;
				}
			}
		}
	}

	.dropdown {
		&.open {
			> a {
				&:before {
					@include pseudo;
					right: 0;
					width: 30px;
					height: 30px;
					background: url('../img/menu-arrow.svg') no-repeat center;
				}
			}

			ul.dropdown-menu {
				display: block;
				visibility: visible;
				padding-bottom: 20px;

				>li {
					height: 38px;
				}
				>a {
					line-height: 38px;
				}
			}
		}
	}

	.navbar-collapse {
		height: auto !important;
		min-height: 100vh;
		margin: 0 !important;
	}
}
//
// common elements
//

.menu-lang {
	padding: 25px 0;
	font-size: 18px;
	font-weight: 700;
	@media(min-width:$screen-md) {
		padding: 0 55px 44px;
	}

	a {
		@extend %hover-line-left;
		margin-left: 5px;
		color: #000;
		@media(min-width:$screen-md) {
			color: #fff;
			font-weight: 400;
		}

		&:hover {
			text-decoration: none;
			color: #000;
			@media(min-width:$screen-md) {
				color: #fff;
			}
		}
	}
}

.menu-socials {
	margin-top: 20px;
	margin-bottom: 50px;
	cursor: default;
	text-align: left;
	@media(min-width:$screen-md) {
		margin-top: 50px;
		margin-bottom: 0;
		text-align: center;
	}

	a {
		display: inline-block;
		margin: 0 12px;

		svg.iconsvg {
			fill: #000;
			@media(min-width:$screen-md) {
				fill: #fff;
			}
		}

		&:hover {
			svg.iconsvg {
				fill: #000;
				@media(min-width:$screen-md) {
					fill: $brand-primary;
				}
			}
		}
	}
}

.menu-download {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	@media(min-width:1025px) {
		display: none;
	}

	img {
		width: 125px;
	}

	.link-download {
		padding: 20px 0;
		transition: none;

		&:first-of-type {
			border-right: 1px solid #444;
		}
	}
}
