.page-content {
	position: relative;
	padding: 50px;
	background: #fff;
	@media(max-width:$screen-xs-max) {
		padding: 25px;
	}

	.title {
		font-size: 60px;
		@media(max-width:$screen-sm-max) {
			font-size: 40px;
		}

		a {
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: $brand-primary;
			}
		}
	}
}

article {
	.title {
		a {
			margin-top: 40px;
			margin-bottom: 30px;
		}
	}

	&:first-of-type {
		.title {
			a {
				margin-top: 0;
			}
		}
	}
}



.btn-back {
	height: 35px;
	@media(max-width:$screen-sm-max) {
		height: 27px;
	}
	@media(max-width:$screen-xs-max) {
		height: 35px;
	}

	a.btn {
		position: absolute;
		right: 0;
		bottom: -35px;
		height: 70px;
		padding: 0 70px;
		text-transform: uppercase;
		color: #000;
		background-color: $brand-primary;
		line-height: 70px;
		@media(max-width:$screen-sm-max) {
			bottom: -24px;
			height: 54px;
			padding: 0 30px;
			font-size: 16px;
			line-height: 54px;
		}
		@media(max-width:$screen-xs-max) {
			right: 0;
			bottom: 0;
			left: 0;
			text-align: left;
			font-size: 14px;
		}
	}
}

.panel-group {
	// posiada modyfikator kolorów przez .section-page-text
	// posiada modyfikator paddingow dla .single-content
	.panel+.panel {
		margin-top: 25px;
		@media(max-width: $screen-md-max) {
			margin-top: 15px;
		}
	}

	.panel {
		border: 0;
		box-shadow: none;
	}

	.panel-heading {
		margin: 0;
		padding: 0;

		a,
		span {
			display: block;
			margin: 0;
			padding: 32px 50px;
			text-decoration: none;
			color: #000;
			background: $brand-primary;
			font-size: 28px;
			font-weight: 700;
			line-height: 1;
			@media(max-width: $screen-md-max) {
				padding: 30px 35px;
				font-size: 22px;
			}
			@media(max-width: $screen-xs-max) {
				padding: 20px 25px;
				font-size: 18px;
			}

			&.collapsed {
				background: $gray-lighter;
			}

			&:hover {
				text-decoration: none;
				color: #000;
				background: $brand-primary;
			}
		}

		span {
			color: #000;
			background: $brand-primary;

			&:hover {
				color: #000;
				background: $brand-primary;
			}
		}
	}

	.panel-body {
		padding: 45px 50px;
		border: 0 !important;
		background: #fff;
		@media(max-width: $screen-md-max) {
			padding: 15px;
		}

		.btn-primary {
			color: #000;

			&:active,
			&:focus,
			&:hover {
				color: #000;
			}
		}

		.btn {
			@media(max-width: $screen-xs-max) {
				display: block;
				margin-right: -15px;
				margin-left: -15px;
				font-size: 12px;
			}
		}

		p:last-of-type {
			margin-bottom: 0;
		}

		.content-photo {
			margin-left: 0;
			margin-right: 0;
			@media(max-width: $screen-xs-max) {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

.panel-group.text-uppercase {
	.panel-body {
		text-transform: none;
	}
}

.panel-group.panel-group-list {
	.panel-body {
		padding: 0;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin: 0;
				padding: 35px 50px;
				border-bottom: 6px solid #fff;
			}
		}

		a {
			text-decoration: none;

			&:hover {
				color: $brand-primary;
			}
		}
	}
}

.section-page-text {
	.content-text {
		@extend .color-white;
		font-size: 28px;
		@media(max-width: $screen-sm-max) {
			font-size: 24px;
		}
		@media(max-width: $screen-xs-max) {
			font-size: 16px;
		}
		@for $i from 1 through 6 {
			.h#{$i},
			h#{$i} {
				color: $brand-primary;
			}
		}

		h1 {
			font-size: 40px;
			@media(max-width: $screen-xs-max) {
				font-size: 26px;
			}
		}
	}

	.panel-group {
		.panel-heading {
			a,
			span {
				background: $brand-primary;

				&.collapsed {
					background: #fff;
				}

				&:hover {
					background: $brand-primary;
				}
			}
		}

		.panel-body {
			background: #000;
		}
	}
}

.desc-collapse {
	position: relative;
	transition: .5s;
	background-color: #fff;

	&.collapse {
		display: block;
		overflow-y: hidden;
		height: 150px;
		min-height: 150px;

		&.in {
			height: auto;

			&:before {
				height: 0;
			}
		}
	}

	&.collapsing {
		height: 150px;
		min-height: 150px;
	}

	&:before {
		@include pseudo;
		z-index: 10;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100px;
		background: rgba(255,255,255,0);
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
	}

	.inner {
		padding: 40px 0 20px;
	}
}

.btn-desc-collapse {
	margin-bottom: 70px;
	padding: 0;
	color: $brand-primary;
	border-radius: 0;
	background-color: transparent;
	font-size: 20px;

	&:focus,
	&:hover {
		color: #000;
		background-color: transparent;
		box-shadow: none;
	}

	&:focus {
		color: $brand-primary;
	}

	&:before {
		display: none;
		content: 'Rozwiń więcej';
	}

	&:after {
		content: 'Zwiń';
	}

	&.collapsed {
		&:before {
			display: inline-block;
		}

		&:after {
			display: none;
		}
	}
}

.content-photo {
	margin: 70px -50px;
	@media(max-width: $screen-xs-max) {
		margin: 35px -25px;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}
