// safari hack

:root,
_::-webkit-full-page-media,
_:future {
	.fix-masonry-listing {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

		* {
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		}

		.grid-item {
			overflow: hidden;
		}
	}
}
@media not all and (min-resolution:.001dpcm) {
	.fix-masonry-listing {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

		* {
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		}

		.grid-item {
			overflow: hidden;
		}
	}
}

.section-people-listing {
	.label {
		margin-bottom: 0;
	}
}

.people-view-az {
	.row-az {
		position: relative;
		padding-top: 40px;
		padding-bottom: 40px;

		&:before {
			@include pseudo;
			top: 0;
			right: 8px;
			left: 8px;
			border-top: 3px solid #fff;
			@media(max-width: $screen-xs-max) {
				right: 25px;
				left: 25px;
			}
		}

		&:first-of-type {
			padding-top: 0;

			&:before {
				display: none;
			}
		}

		&:last-of-type {
			padding-bottom: 0;
		}
	}

	.big-letter {
		display: block;
		color: $brand-primary;
		font-size: 120px;
		font-weight: 700;
		line-height: 1;
		@media(max-width: $screen-xs-max) {
			margin-bottom: 20px;
		}
	}

	.people-item {
		.people-thumb {
			display: none;
		}

		.people-link {
			margin-top: 18px;
			margin-bottom: 18px;
			font-size: 30px;
			@media(max-width: $screen-xs-max) {
				margin-top: 14px;
				margin-bottom: 14px;
				font-size: 24px;
			}

			a {
				color: #fff;

				&:hover {
					color: $brand-primary;
				}
			}
		}
	}
}

.section-news-listing {
	margin-bottom: -45px;

	.news-item {
		margin-bottom: 0;
	}
}

.news-item {
	position: relative;
	font-size: 20px;
	font-weight: 500;
	margin-top: 25px;

	.box-inner {
		padding: 30px;
		background-color: #fff;
		@media (min-width: $screen-lg) {
			padding: 25px 50px;
		}
	}

	.news-thumb {
		display: block;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			transition: $transition;
			filter: grayscale(1);
			@media (max-width: $screen-xs-max) {
				filter: grayscale(0);
			}
		}
	}

	.news-link {
		h3 {
			margin: 0 0 18px;
			transition: $transition;
			font-size: 28px;
			@media (max-width: $screen-xs-max) {
				color: $brand-primary;
			}
		}
	}

	.news-date {
		margin-bottom: 18px;
		font-size: 15px;
		font-weight: 700;
	}

	.news-socials {
		margin-top: 30px;

		a {
			margin-right: 10px;
			display: inline-block;
		}

		svg.iconsvg {
			width: 21px;
			height: 21px;

			&:hover {
				fill: $brand-primary;
			}
		}
	}

	p {
		line-height: 1.25;
	}

	.read-more-mask {
		height: 26px;
		@media (min-width: $screen-md) {
			overflow: hidden;
		}
	}

	.read-more {
		height: 26px;
		line-height: 26px;
		padding: 0 30px;
		text-align: left;
		@media (min-width: $screen-md) {
			transform: translateY(-100%);
		}
		@media (min-width: $screen-lg) {
			padding-right: 50px;
			padding-left: 50px;
		}
	}

	&:hover {
		.news-thumb {
			img {
				transform: scale(1.05);
				filter: grayscale(0);
			}
		}

		.news-link {
			h3 {
				color: $brand-primary;
			}
		}

		.read-more {
			transform: translateY(0);
		}
	}
}

.people-item {
	.people-thumb {
		position: relative;
		display: block;
		overflow: hidden;
		background-color: $brand-primary;

		img {
			width: 100%;
			height: auto;
			transition: $transition;
		}

		.blend-mode {
			@extend %fullsize;
			z-index: 10;
			transition: $transition;
			opacity: 0;
			background-color: $brand-primary;
			mix-blend-mode: multiply;
		}
	}

	.people-link {
		margin: 45px 0;
		font-size: 52px;
		line-height: .9;

		a {
			color: $brand-primary;
		}
	}

	&:hover {
		.people-thumb {
			img {
				transform: scale(1.05);
				opacity: .5;
				filter: grayscale(1);
			}
		}

		.people-link {
			a {
				color: #fff;
			}
		}
	}
}

.sorting {
	margin-top: 23px;
	margin-bottom: 46px;
	color: #fff;
	font-weight: 700;

	.sorting-category {
		float: left;
	}

	.sorting-icons {
		float: right;

		a {
			margin-left: 20px;
		}

		img {
			@media(max-width:$screen-md-max) {
				width: auto;
				height: 24px;
			}
		}
	}
}
