$single-socials-width: 160px;
$single-socials-width-laptop: 140px;

.section-page-single {}

.single-featured-image {
	@extend .background-cover;
	height: 450px;
	@media(max-width: $screen-sm-max) {
		height: 340px;
	}
	@media(max-width: $screen-xs-max) {
		height: 190px;
	}
}

.single-layout {}

.single-socials {
	position: sticky;
	top: 0;
	float: left;
	width: $single-socials-width;
	min-height: 1px;

	.single-content & {
		display: none;
	}
	@media(max-width:$screen-md-max) {
		width: $single-socials-width-laptop;
	}
	@media(max-width: $screen-sm-max) {
		top: 50px;
	}
	@media(max-width:$screen-xs-max) {
		display: none;

		.single-content & {
			position: static;
			top: 0;
			display: flex;
			float: none;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 100%;
			padding: 20px 0;
			border-top: 2px solid #000;
			border-bottom: 2px solid #000;

			.icon {
				margin: 10px 5px;
				border: 0;

				&:hover {
					background: transparent;

					svg.iconsvg {
						fill: $brand-primary;
					}
				}
			}
		}
	}

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100px;
		border-bottom: 6px solid #fff;
		@media(max-width: $screen-md-max) {
			height: 80px;
			border-width: 3px;
		}
		@media(max-width: $screen-xs-max) {
			width: auto;
			height: auto;
		}

		svg.iconsvg {
			width: 30px;
			height: 30px;
			fill: #fff;
			@media(max-width: $screen-md-max) {
				width: 24px;
				height: 24px;
			}
			@media(max-width: $screen-xs-max) {
				fill: #000;
			}
		}

		&:first-of-type {
			border-top: 0;
		}

		&:hover {
			background: $brand-primary;
		}
	}

	.icon-download {
		color: #fff;
		border: 0;
		background-color: $brand-primary;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.2;

		img {
			width: 18px;
			margin-right: 10px;
		}

		&:hover {
			color: #fff;
			background-color: #000;
		}
	}
}

.single-content {
	position: relative;
	float: left;
	width: calc(100% - #{$single-socials-width});
	@media(max-width:$screen-md-max) {
		width: calc(100% - #{$single-socials-width-laptop});
	}
	@media(max-width:$screen-xs-max) {
		width: 100%;
	}

	.category {
		margin-bottom: 30px;
		font-size: 18px;
		font-weight: 700;

		a {
			text-decoration: none;
			color: $brand-primary;

			&:hover {
				text-decoration: none;
				color: #000;
			}
		}
	}

	.date {
		color: $text-color-light;
		font-size: 20px;
		font-weight: 700;
		@media(max-width:$screen-sm-max) {
			font-size: 16px;
		}
	}

	.tags {
		margin-top: 50px;
		padding-top: 30px;
		color: $text-color-light;
		border-top: 2px solid #000;
		font-weight: 400;
		font-style: italic;
		@media(max-width:$screen-sm-max) {
			margin-top: 0;
			margin-bottom: 30px;
			border: 0;
		}

		a {
			text-decoration: none;
			color: $text-color-light;

			&:hover {
				color: #000;
			}
		}
	}

	.panel-group {
		.panel-heading {}

		.panel-body {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.single-content-news {
	.title {
		font-size: 36px;
		@media(max-width:$screen-sm-max) {
			font-size: 24px;
		}
	}
}
