// Default Variables
$slick-arrow-color: white !default;
$slick-dot-color: $gray-lighter !default;
$slick-dot-color-active: $brand-primary !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: .75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: .25 !default;

.slick {}


.slick-slide {
	&:focus {
		outline: 0;

		img {
			&:focus {
				outline: 0;
			}
		}
	}

	img {
		display: inline-block !important;
	}
}
/* Arrows */
.slick-next,
.slick-prev {
	position: absolute;
	z-index: 10;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	cursor: pointer;
	transition: $transition;
	opacity: 1;
	border: 0;
	border-radius: 50%;
	outline: none;
	background-color: transparent;
	background-image: url('../img/slider-arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	font-size: 0;

	&:hover {
		opacity: 1;
	}

	&.slick-disabled {
		opacity: .6;
	}
}

.slick-prev {
	left: 60px;
	transform: translateY(-50%) rotate(90deg);
}

.slick-next {
	right: 60px;
	transform: translateY(-50%) rotate(-90deg);
}
/* Dots */

.slick-dotted.slick-slider {
	margin-bottom: 70px;
}

.slick-dots {
	position: relative;
	bottom: -25px;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;

	li {
		position: relative;
		display: inline-block;
		margin: 0 10px;
		padding: 0;
		cursor: pointer;

		button {
			display: block;
			width: 12px;
			height: 12px;
			padding: 0;
			cursor: pointer;
			color: transparent;
			border: 0;
			border-radius: 50%;
			outline: none;
			background: $slick-dot-color;
			font-size: 0;
			line-height: 0;

			&:focus,
			&:hover {
				outline: none;
			}
		}

		&.slick-active {
			button {
				background: $slick-dot-color-active;
			}
		}
	}
}
