.section-slider {
	position: relative;
	z-index: 5;
	background-color: #000;

	.slider-bg {
		@extend .background-cover;
		position: relative;
		min-height: 100vh;
		padding-top: 265px;
		padding-bottom: 230px;
		font-weight: 700;
		line-height: .9;

		.home & {
			padding-bottom: 70px;
		}
		@media(max-width: $screen-xs-max) {
			padding-top: 130px;
		}

		&:after {
			@extend %fullsize;
			@include pseudo;
			transition: $transition;
			background: rgba(#000,1);
		}
	}

	video {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
	}

	.column-layout-content {
		@media(min-width: $screen-md) {
			position: relative;
		}
	}

	.slider-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 130px;
	}

	.slider-small {
		margin-bottom: 50px;
		color: #fff;
		font-size: 60px;
		@media(max-width: $screen-xs-max) {
			margin-bottom: 20px;
			font-size: 30px;
		}
	}

	.slider-title {
		color: #fff;
		font-size: 120px;
		@media(max-width: $screen-md-max) {
			font-size: 95px;
		}
		@media(max-width: $screen-xs-max) {
			word-break: break-word;
			font-size: 60px;
		}
		@media(max-width:375px) {
			font-size: 50px;
		}

		.home & {
			color: $brand-primary;
		}
	}

	.slider-ticket {
		position: relative;
		z-index: 10;
		display: none;
		@media(max-width: $screen-sm-max) {
			display: block;
			margin-top: 55px;
		}
		@media(max-width: $screen-xs-max) {
			position: absolute;
			right: 25px;
			bottom: 70px;
			left: 25px;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 75px;
				padding: 10px;
				font-size: 23px;

				span {
					top: auto;
				}
			}

			svg {
				width: 42px;
				height: auto;
			}
		}
	}

	.slider-text-mask {
		position: relative;
		z-index: 10;
		top: 15px;
		overflow: hidden;
		padding-bottom: 15px;

		.slider-text {
			transition: $transition;
			transition-delay: .5s;
			transition-duration: 2s;
			transform: translateX(-150%);
		}
	}

	.slider-arrow {
		position: absolute;
		z-index: 10;
		bottom: 0;
		left: 50px;
		@media(min-width: $screen-sm) and (max-width: $screen-sm-max) {
			bottom: 240px;
			left: 50%;
			transform: translateX(-350px);
		}
		@media (max-width: $screen-xs-max) {
			bottom: 240px;
			left: 25px;
		}

		.home & {
			@media(max-width: $screen-md-max) {
				bottom: 50px;
			}
			@media (max-width: $screen-xs-max) {
				bottom: 165px;
			}
		}

		img {
			width: 53px;
			height: auto;
			animation: jump 2s infinite;

			.home & {
				@media(min-width: $screen-md) and (max-width: $screen-md-max) {
					width: 30px;
				}
			}
			@media(max-width: $screen-xs-max) {
				width: 30px;
			}
		}
		@keyframes jump {
			0% {
				transform: translateY(0);
			}

			50% {
				transform: translateY(5px);
			}

			100% {
				transform: translateY(0);
			}
		}

		&:hover {
			img {
				animation-play-state: paused;
			}
		}
	}

	&.animated {
		.item {
			&.active {
				.slider-text {
					transform: translateX(0);
				}

				.slider-bg {
					&:after {
						background: rgba(#000,0.3);
					}
				}
			}
		}
	}
}
//yt video on slider

.video-background {
	position: fixed;
	z-index: -99;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
}

.video-background iframe,
.video-foreground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.video-foreground {
	@media (min-aspect-ratio: 16/9) {
		top: -100%;
		height: 300%;
	}
	@media (max-aspect-ratio: 16/9) {
		left: -100%;
		width: 300%;
	}
}
