@font-face {
	font-family: 'NHaasGroteskDSPro';
	src: url('../fonts/3642CE_0_0.eot');
	src: url('../fonts/3642CE_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3642CE_0_0.woff2') format('woff2'),url('../fonts/3642CE_0_0.woff') format('woff'),url('../fonts/3642CE_0_0.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'NHaasGroteskDSPro';
	src: url('webfonts/3642CE_1_0.eot');
	src: url('webfonts/3642CE_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3642CE_1_0.woff2') format('woff2'),url('webfonts/3642CE_1_0.woff') format('woff'),url('../fonts/3642CE_1_0.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'NHaasGroteskDSPro';
	src: url('../fonts/3642CE_2_0.eot');
	src: url('../fonts/3642CE_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3642CE_2_0.woff2') format('woff2'),url('../fonts/3642CE_2_0.woff') format('woff'),url('../fonts/3642CE_2_0.ttf') format('truetype');
	font-weight: 700;
}
// z pliku _variables-custom

%headers-global {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	@media(max-width: $screen-xs-max) {
		word-break: break-word;
	}
}

.title {
	@extend %headers-global;
	&.title-my {
		margin-top: 60px;
		margin-bottom: 60px;
	}
}

.content-text {
	font-weight: 500;
	font-size: 20px;
	@media(max-width: $screen-sm-max) {
		font-size: 18px;
	}
	@for $i from 1 through 6 {
		.h#{$i},
		h#{$i} {
			margin-top: 30px;
			margin-bottom: 15px;
			color: $gray-darker;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	p {
		margin-bottom: 30px;
	}

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.lead {
		font-weight: 500;
		font-size: 28px;
		margin-top: 25px;
		margin-bottom: 25px;
		@media(max-width: $screen-xs-max) {
			font-size: 18px;
		}
		@media(min-width: $screen-md) {
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}

	blockquote {
		font-size: 24px;
		border: 0;
		padding-left: 50px;
		position: relative;

		&:before {
			@include pseudo;
			left: 0;
			top: 22px;
			width: 20px;
			height: 18px;
			background-image: url('../img/ico-quote.svg');
		}
	}
}
