%hover-line-left {
	position: relative;

	&:before {
		@include pseudo;
		bottom: 0;
		left: 0;
		width: 0;
		transition: $transition;
		border-bottom: 1px solid #ccc;
	}

	&:hover {
		&:before {
			width: 100%;
		}
	}
}

%hover-line-center {
	position: relative;

	&:after,
	&:before {
		@include pseudo;
		bottom: 0;
		width: 0;
		transition: $transition;
		border-bottom: 1px solid #ccc;
	}

	&:before {
		left: 50%;
	}

	&:after {
		right: 50%;
	}

	&:hover {
		&:after,
		&:before {
			width: 50%;
		}
	}
}
//
// sticky footer
//
// html.sticky {
// 	position: relative;
// 	min-height: 100%;
// }
//
// footer.sticky {
// 	position: absolute;
// 	bottom: 0;
// 	width: 100%;
// }
