body {
	font-family: $font-family-sans-serif;
	font-weight: 400;

	&.subpage {
		@media(max-width: $screen-sm-max) {
			padding-top: 60px;
		}
	}

	::selection {
		color: $brand-primary;
		background-color: #000;
	}
}

a {
	color: $text-color;

	&:active,
	&:focus,
	&:hover {
		color: $text-color;
	}
}

a,
button {
	transition: $transition;

	&:focus,
	&:hover {
		text-decoration: none;
		outline: none;
	}
}

hr {
	height: 2px;
	margin: 30px 0;
	border: 0;
	background-color: #000;
	@media(max-width:$screen-sm-max) {
		margin: 20px 0;
	}
}

.img-responsive {
	display: inline-block;
}

.video-container {
	position: relative;
	overflow: hidden;
	height: 0;
	margin-top: 60px;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-bottom: 56.25%;

	embed,
	iframe,
	object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.link-more-primary {
	@extend %link-more;
	color: $brand-primary;

	&:hover {
		color: #fff;
	}

	.background-gray-lighter & {
		&:hover {
			color: #000;
		}
	}
}

.foot-label,
.label {
	display: block;
	margin-bottom: 25px;
	padding: 6px 25px;
	text-align: left;
	text-transform: uppercase;
	color: #000;
	border-radius: 0;
	background-color: $brand-primary;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
}

.info {
	padding: 25px 0;
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	@media(min-width: $screen-sm) {
		padding: 35px 0;
		font-size: 18px;
	}
	@media(min-width: $screen-md) {
		padding: 50px 0;
	}
}

.info-link {
	padding: 35px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	@media(max-width: $screen-xs-max) {
		padding: 35px 0;
	}
}

.read-more {
	display: block;
	padding: 6px 20px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	background-color: $brand-primary;
	font-size: 14px;
	font-weight: 700;
}

.dropdown-button {
	position: relative;
	display: inline-block;

	.btn-dropdown {
		color: $brand-primary;
		border: 0;
		background: transparent;
	}

	.caret {
		margin-top: -4px;
		border-width: 6px 6px 0 6px;
	}

	.dropdown-menu {
		padding: 10px 0;
		background-color: $brand-primary;

		a {
			display: block;
			padding: 10px;
			color: #000;
			background-color: $brand-primary;
			font-size: 15px;

			&:hover {
				background-color: #fff;
			}
		}
	}
}

svg.iconsvg {
	transition: $transition;
	fill: #000;
}

.row-100 {
	.col-xs-12 {
		width: 100%;
	}
}

.buy-ticket {
	display: inline-block;
	padding: 25px 50px;
	text-transform: uppercase;
	background-color: #fff;
	font-size: 28px;
	font-weight: 700;

	svg.iconsvg {
		float: left;
		width: 63px;
		height: 45px;
		@media(max-width: $screen-xs-max) {
			width: 30px;
			height: auto;
		}

		&:hover {
			fill: #000;
		}
	}

	span {
		position: relative;
		top: 9px;
		margin-left: 15px;
	}

	&:hover {
		background-color: $brand-primary;

		svg.iconsvg {
			transform: rotate(-5deg);
		}
	}

	&:focus,
	&:hover {
		text-decoration: none;
	}
}

.slider-spacer {
	@media(min-width: $screen-md) {
		position: relative;
		z-index: -100;
		height: 100vh;
		transition: 1s;
	}
}
// sections

.section-home-artists {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.4;
	@media (min-width: $screen-sm) {
		font-size: 70px;
		line-height: 1.15;
	}
	@media (min-width: $screen-md) {
		font-size: 80px;
		line-height: 1;
	}

	.box-inner {
		margin-top: 50px;
		@media (max-width: $screen-xs) {
			margin-bottom: 30px;
		}
		@media (min-width: $screen-lg) {
			margin: -5px 180px 0 0;
		}

		a {
			margin-right: 10px;
			color: #fff;
			@media (min-width: $screen-sm) {
				margin-right: 20px;
			}

			strong {
				color: $brand-primary;
			}

			&:hover {
				opacity: .85;
				color: $brand-primary;
			}
		}
	}
}

.section-home-news {
	background-color: $gray-lighter;
	@media (max-width: $screen-sm-max) {
		padding-bottom: 0;
	}

	.info-link {
		padding-left: 0;
		@media (max-width: $screen-xs-max) {
			padding-top: 15px !important;
		}
	}
}

.section-tickets {
	.collapse {
		@media(min-width: $screen-sm) {
			display: block;
		}
	}

	.row-tickets {
		margin-top: 16px;
		cursor: default;
		@media(max-width: $screen-xs-max) {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		&:first-of-type {
			margin-top: 0;
		}

		&:hover {
			.box-ticket {
				@media(min-width: $screen-sm) {
					color: #fff;
				}
			}

			svg.iconsvg {
				@media(min-width: $screen-sm) {
					fill: #fff;
				}
			}
		}
	}

	.grid-ticket-buy,
	.grid-ticket-prize,
	.grid-ticket-type {
		float: left;
		padding-right: 8px;
		padding-left: 8px;
		font-size: 32px;
		font-weight: 700;
		@media(min-width:$screen-md) and (max-width:$screen-md-max) {
			font-size: 24px;
		}
		@media(max-width:$screen-xs-max) {
			float: none;
			width: 100% !important;
			padding-right: $gutter-md;
			padding-left: $gutter-md;
		}
	}

	.box-ticket {
		display: flex;
		align-items: center;
		height: 120px;
		padding: 20px 40px;
		transition: $transition;
		color: #000;
		border: 0;
		background-color: $brand-primary;
		line-height: 1;
		@media(max-width:$screen-md-max) {
			padding: 10px 35px;
		}
		@media (max-width: $screen-sm-max) {
			height: 90px;
		}
		@media (max-width: $screen-xs-max) {
			width: 100%;
			height: 60px;
			padding: 15px 20px;
		}

		svg.iconsvg {
			margin-right: 30px;
			@media (max-width: $screen-xs-max) {
				width: 42px;
				margin-right: 15px;
			}
		}
	}

	.grid-ticket-type {
		width: 46%;
		@media (max-width: $screen-sm-max) {
			font-size: 22px;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 16px;
		}
	}

	.grid-ticket-prize {
		width: 25%;
		@media (max-width: $screen-sm-max) {
			font-size: 22px;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 21px;

			.box-ticket {
				background-color: $gray-lighter;
			}
		}
	}

	.grid-ticket-buy {
		width: 29%;
		font-size: 20px;
		@media (max-width: $screen-sm-max) {
			font-size: 13px;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 18px;
		}

		.box-ticket {
			@media (min-width: $screen-md) and (max-width: $screen-md-max) {
				padding-right: 20px;
				padding-left: 20px;
			}
			@media (max-width: $screen-xs-max) {
				color: #fff;
				background-color: #000;
			}

			svg.iconsvg {
				@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
					width: 38px;
					margin-right: 15px;
				}
				@media(max-width: $screen-xs-max) {
					fill: #fff;
				}
			}

			&:hover {
				color: #fff;
				background-color: #000;

				svg.iconsvg {
					transform: rotate(-5deg);
					fill: #fff;
				}
			}
		}
	}
	//collapse button for mobile
	@media (max-width: $screen-xs-max) {
		button.box-ticket {
			position: relative;

			&:before {
				@include pseudo;
				top: 50%;
				right: 20px;
				width: 20px;
				height: 20px;
				transition: $transition;
				transform: translateY(-50%) rotate(0);
				background: url('../img/menu-arrow.svg') no-repeat center;
			}

			&.collapsed {
				&:before {
					transform: translateY(-50%) rotate(-180deg);
				}
			}
		}
	}
}

.buy-tickets-portale {
	font-size: 42px;
	font-weight: 500;
	line-height: 1;

	.title {
		font-weight: 500;
	}
	@media (max-width: $screen-xs-max) {
		.title {
			margin-top: 15px;
			margin-bottom: 55px;
			font-size: 24px;
		}
	}

	a {
		margin-right: 15px;

		&:hover {
			color: $brand-primary;
		}
		@media (max-width: $screen-xs-max) {
			display: block;
			margin-top: 8px;
			margin-bottom: 8px;
			font-size: 21px;
		}
	}
}

.section-on-slider {
	margin-top: -180px;
	padding-top: 0 !important;
	position: relative;
	z-index: 10;
	@media(max-width: $screen-sm-max) {
		margin-top: 0;
	}
}

body.history {
	.slider-content {
		display: none;
	}

	.slider-arrow {
		display: none;
	}

	.content-text {
		.title {
			color: $brand-primary;
		}

		strong {
			display: block;
			color: $brand-primary;
			font-size: 20px;
		}
	}
}
