//
// branding
//
$brand-primary: #f89b79;
$brand-border: #f89b79;

$body-bg:	#000;

$gray-base:				#000;
$gray-darker:			#222;
$gray-dark:				#555;
$gray:					#83868c;
$gray-light:			#d7d7d7;
$gray-lighter:			#eeeeef;

$gray-border:			#e3e3e3;

$text-color:            #000;
$text-color-light:		#bebebe;
$link-color:            $text-color;
//
// typography
//
$font-family-sans-serif:  'NHaasGroteskDSPro', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          20px;
$font-size-large:         24px;
$font-size-small:         16px;

$font-size-h1:            48px;
$font-size-h2:            36px;
$font-size-h3:            28px;
$font-size-h4:            24px;
$font-size-h5:            18px;
$font-size-h6:            13px;

$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    700;
$headings-line-height:    1;
$headings-color:          #000;

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;
//
// usuniecie glyphicon - odkomentowac w bootstrap.scss
//
//
// grid
//
$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  1320px;
$screen-lg:                  1630px;

$grid-gutter-width:         16px;

$grid-float-breakpoint:     $screen-md;

$container-tablet:             (710px + $grid-gutter-width);
$container-sm:                 $container-tablet;
$container-desktop:            (1240px + $grid-gutter-width);

$container-md:                 $container-desktop;
$container-large-desktop:      (1560px + $grid-gutter-width);
$container-lg:                 $container-large-desktop;
//
//margins & paddings - for helpers.scss
//
$spacing-xxs: 10px;
$spacing-xs: 20px;
$spacing-sm: 50px;
$spacing-md: 90px;
$spacing-lg: 110px;

//
//custom
//
$transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

$text-shadow: 1px 1px rgba(#000,0.3);
$box-shadow: 1px 1px 3px rgba(#000,0.3);
